@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #232325;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232325;
    --foreground: #ffffff;
  }
}

@layer utilities {
  .hide-scroolbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scroolbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
