@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hide-scroolbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scroolbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .min-h-inherit {
    min-height: inherit;
  }
}
